<!DOCTYPE html>
<html>
<head>
<title>My Flask site</title>
<link rel="stylesheet" href="{{ url_for('static',filename = 'css/main.css') }}"/>
</head>

<body>
  <header>
    <div class ="container">
      <nav>
        <ul class = "menu">
          <li {% if active_page == 'home' %}
                class = "active"
                {% endif %}>
          <a = href="/home">Home</a></li>
          <li {% if active_page == 'about' %}
                class = "active"
                {% endif %}>
          <a = href="/about">About</a>
          </li>
          <li{% if active_page == 'contact' %}
                class = "active"
                {% endif %}>
          <a = href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div> 
  </header>
  <div class = "container">
    {% block saturs %}

    {% endblock %}
  </div>
</body>

</html>


